NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
MONGODB_URI=
MONGODB_DB=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_UPLOAD_PRESET=
CLOUDINARY_UPLOAD_FOLDER=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

UPLOADCARE_PUBLIC_KEY=
UPLOADCARE_SECRET_KEY=

NODE_ENV=
GROQ_API_KEY=
REDIS_URL=

VERCEL_AI_API_KEY=
NEXT_PUBLIC_UPLOADCARE_PUBLIC_KEY=
NEXT_AUTH_SECRET=
NEXT_AUTH_URL=
NEXT_PUBLIC_BASE_URL=